body {
  background-image: url("background-logo-new.jpg");
  background-repeat: no-repeat;
  background-position: center;
  opacity:0.8;
}
.image-section {
  margin-left: 15px;
}
.affix {
  top: 0;
  width: 100%;
}
.affix + .container-fluid {
  padding-top: 30px;  
}
.main-title {
  margin-top: 20px;
  margin-left: -25px;
}
.slogan {
  margin-left: -25px;
  font-style: oblique;
  color: #00b3b3;
}
.navigation-bar {
  margin-bottom: 0px;
  opacity:0.8;
  z-index: 100;
  background-color:  #00e6e6;
  border-bottom: 0.2px solid #ebffff;
}
.navbar .navbar-default a {
  font-size: 15px;
  font-family: serif;
}
.navbar-default a:active {
  box-shadow: none;
}
.navbar-default .navlink {
  border-right:0.5px solid #ebffff;
}

.navbar-default .last-button {
  border-right: 0px;
}

.navbar-default .navlink:hover {
  background-color: #ebffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffb499;
  color: #ffb499;
}
.navbar-default .navbar-toggle:hover {
  background-color: #ffb499;
  color: #ffb499; 
}
.navbar-default .navbar-toggle:focus {
  background-color: #ffb499;
  color: #ffb499; 
}
.navbar-default .active {
  font-weight: bold;
  color: black;
  box-shadow: none;
}
.last-button {
  margin-right:20px;
}
.inner-nav  {
  border-right: 0.5px solid #ebffff;
}
.home-container {
  color: #009999;
  margin-top: 5px;
}
.home-container .home-section {
  font-size: 20px;
}
.headingOfWell {
  color: #FF7F50;
}
.company-container {
  color: #009999;
}
.company-container .event-container {
  margin-top: -15px;
}

.company-container .event-container li:nth-child(odd){
  background-color: #deedde; 
}
.event-container li:nth-child(even){
  background-color:  #d9eaf2;
}

.company-container .client-button {
  background-color: #FF7F50;
  width: 50%;
  outline: none;
}
.company-navbar {
  background-color:  #00e6e6;
  border-bottom: 0.2px solid #ebffff; 
}
.company-navbar li:hover {
  background-color: #ebffff;
}
.client-container li {
  list-style: none;
}
.client-container .corporate-names {
  font-size: 20px;
}
.client-container .health-names {
  font-size: 20px;
}
.client-container .tourism-names {
  font-size: 20px;
}
.client-container .other-names {
  font-size: 20px;
}
.panel-default .panel-heading {
  background-color: #ffb499;
}
.panel-heading a {
  color: #3c948b;
  font-style: bold;  
}
.panel ul {
list-style: none;
}
.prmarketing-container {
  margin-top: -15px;
}
.prmarketing-container li:nth-child(odd){
  background-color: #deedde; 
}
.prmarketing-container li:nth-child(even){
  background-color:  #d9eaf2;
}
.targetMediaList li:nth-child(odd){
  background-color: #deedde; 
}
.targetMediaList li:nth-child(even){
  background-color:  #d9eaf2;
}
.checklistMediaList li:nth-child(odd){
  background-color: #deedde; 
}
.checklistMediaList li:nth-child(even){
  background-color:  #d9eaf2;
}
.plans-container{
  color: #009999;
  margin-top: -15px;
}
.plans-navbar {
  background-color:  #00e6e6;
  border-bottom: 0.2px solid #ebffff; 
}
.plans-navbar li:hover {
  background-color: #ebffff;
}
.overviwer-container{
  color: #009999;
}
.overviwer-container .costproposal-button {
  background-color: #FF7F50;
  wih: 50%;
  outline: none;
}
.overview-navbar {
  baground-color:  #00e6e6;
  border-bottom: 0.2px solid #ebffff; 
}
.overview-navbar li:hover {
  background-color: #ebffff;
}
.costproposal-container li {
  list-style: none;
}
.costproposal-container .projectfee-names {
  font-size: 20px;
}
.costproposal-container .cost-heading {
  color: #33cc33;
}
.tools-container{
  color: #009999;
}
.contact-container{  
  color: #009999;
}
.contact-container .address-button {
  background-color: #FF7F50;
  width: 50%;
  outline: none;
}
.contact-navbar {
  background-color:  #00e6e6;
  border-bottom: 0.2px solid #ebffff; 
}
.contact-navbar li:hover {
  background-color: #ebffff;
}
.address-container li {
  list-style: none;
}
.address-container .addressinfo-names {
  font-size: 20px;
}
.list-group-item {
  border-color: #ffb499;
}
.list-item {
  border-color: #ffb499;
}