<html ng-app="myapp" ng-controller="myCtrl">
	<head>
		<title>Virtual Communications: Best PR firm in Kolkata</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" values="Virtual Communications","VIRTUAL COMMUNICATIONS", "PUBLIC RELATIONS", "public relations", "public", "relations", "pr", "PR", "kolakata best PR", "best pr", "communications", "communication">
		<!-- bootstrap files -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="https://code.jquery.com/jquery.js"></script>
		<!-- angular files -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  		<!-- files which are added manually -->
		<script type="text/javascript" src="mainController.js"></script>
		<link rel="stylesheet" type="text/css" href="style.css">
  	</head>
	<body>
		<div class="container-fluid main-container">
			<div class="row">
				<div class="col-sm-1">
					<span class="pull-right"><img src="logo.jpg"></span>
				</div>
				<div class="col-sm-11">
					<h3 class="main-title" title="Enterprise Name">Virtual Communications</h3>
		  			<small>
						<h6 class="slogan" title="Our Slogan">We maintain Equanimous and Exuberant relation</h6>
		  			</small>
				</div>
		  	</div>
	    </div>
	   	<nav class="navbar navbar-default navigation-bar" data-spy="affix" data-offset-top="150">
    		<div class="navbar-header">
    			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
	   		</div>
	   		<div class="collapse navbar-collapse" id="responsive-navbar">
	  			<ul class="nav navbar-nav navbar-right">
		   			<li class="navlink">
		   				<a class="btn btn-md" type="button" ng-class="{ true: 'active', false: 'notactive'} [homeContainer]" title="home" ng-click="Home()">HOME</a>
		   			</li>
					<li class="navlink">
	  					<a class="btn btn-md" type="button" ng-class="{ true: 'active', false: 'notactive'} [companyContainer]" title="company" ng-click="Company()">COMPANY</a>
					</li>
					<li class="navlink">
						<a class="btn btn-md" type="button" ng-class="{ true: 'active', false: 'notactive'} [ToolsContainer]" title="apply here" ng-click="Tools()">TOOLS</a>
		  			</li>
		      		<li class="navlink">
		     			<a class="btn btn-md" type="button" ng-class="{ true: 'active', false: 'notactive'} [PlansContainer]" title="details of company" ng-click="Plans()">PLANS</a>
		   			</li> 
		  			<li class="navlink">
		      			<a class="btn btn-md" type="button" ng-class="{ true: 'active', false: 'notactive'} [OverviewContainer]" title="overview" ng-click="Overview()">OVERVIEW</a>
		      		</li> 
		  			<li class="navlink last-button">
		  				<a class="btn btn-md" type="button" ng-class="{ true: 'active', false: 'notactive'} 
		  				[ContactContainer]" title="contact us" ng-click="Contact()">CONTACT US</a>
		  			</li>
		   		</ul>
		   	</div>
		</nav>
		<div class="container-fluid ContentOfProject home-container" ng-show="homeContainer">
			<div class="container">
				<div class="container">
					<div class="well">
						<h4>
							Virtual Communication is a professionally managed PR Firm headquartered in Kolkata offering 360
							degree customized communication solutions. Born in the city of Kolkata, Virtual Communication
							promises to deliver prolific consultancy services designed to suit the clients requisites.
						</h4>	
					</div>
				</div>
				<h3 class="headingOfWell text-center">Our Motto </h3>
				<div class="container">
					<div class="well">
						<h4>
							At Virtual Communication we believe that it is PR which creates the image of a brand and plays a pivotal
							role in determining its success. Virtual assists in creating events and experiences that are unique,
							extraordinary and are delivered with an innovative edge and finesse to our clients. Virtual
							Communication offers integrated services that include creation, execution and delivery, across all
							activation and media verticals.
						</h4>
					</div>
				</div>
				<h3 class="headingOfWell text-center">Our Strengths </h3>
				<div class="container">
					<div class="well">
						<h4>
							Aided by strategic tie-ups with some of the renowned PR agencies in other metros and mini metros, we
							provide clients with support encompassing over 15 States of India.
							At Virtual, our team of experienced professionals evaluates the market forces to offer strategies and
							framework for ultimate client satisfaction. Above all, we strive to create relationships based on trust and
							reliability, whether for ourselves or our clients. We strongly believe in ethics and integrity being at the
							core of the communications industry
						</h4>
					</div>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-default company-navbar" ng-show="companyContainer">
  			<div class="container-fluid">
			    <ul class="nav navbar-nav">
			      <li><a class="inner-nav" href="" ng-class="{ true: 'active', false: 'notactive'} [EventContainer]" ng-click="EventDisplay()">EVENTS</a></li>
			      <li><a class="inner-nav" href="" ng-class="{ true: 'active', false: 'notactive'} [ClientContainer]" ng-click="ClientDisplay()">CLIENTS</a></li>
			    </ul>
  			</div>
		</nav>
		<div class="container-fluid ContentOfProject company-container" ng-show="companyContainer">
			<div class="container event-container" ng-show="EventContainer">
				<h2 class="text-center">Our forte also lies in organising events like</h2>
				<ul class="list-group">
					<li class="list-group-item list-group-item-success">
						Indian Association of Cardiovascular & Thoracic Surgeons CT CME
					</li>
					<li class="list-group-item list-group-item-info">World Heart Day</li>
					<li class="list-group-item list-group-item-success">World Diabetes Day</li>
					<li class="list-group-item list-group-item-info">World Environment Day</li>
					<li class="list-group-item list-group-item-success">World Obesity Day</li>
					<li class="list-group-item list-group-item-info">World No Tobacco Day</li>
					<li class="list-group-item list-group-item-success">
						Other Promotional Events/Movie Campaigns
					</li>
				</ul>
			</div>
			<div class="container client-container" ng-show="ClientContainer">
				<h2 class="text-center">Our Clients</h2>
				<div class="panel-group" id="ClientAccordian">
  					<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" data-parent="#ClientAccordian" href="#CorporateCompanies">
        							Corporate Companies
        						</a>
      						</h4>
    					</div>
    					<div id="CorporateCompanies" class="panel-collapse collapse in">
						    <div class="panel-body" ng-repeat="corporate in corporates">
						      	{{ corporate }}
						    </div>
    					</div>
  					</div>
				    <div class="panel panel-default">
				     	<div class="panel-heading">
				      		<h4 class="panel-title">
				        		<a data-toggle="collapse" data-parent="#ClientAccordian" href="#HealthFirms">
				        		Health Sector Firms</a>
				      		</h4>
				    	</div>
				    	<div id="HealthFirms" class="panel-collapse collapse" >
				      		<div class="panel-body" ng-repeat="healthFirm in healthFirms"> {{ healthFirm }} </div>
				    	</div>
				  	</div>
				    <div class="panel panel-default">
				    	<div class="panel-heading">
				      		<h4 class="panel-title">
				        		<a data-toggle="collapse" data-parent="#ClientAccordian" href="#EducationFirms">
				        			Education Firms
				        		</a>
				      		</h4>
				    	</div>
				    	<div id="EducationFirms" class="panel-collapse collapse">
				      		<div class="panel-body" ng-repeat="educationFirm in educationFirms"> {{ educationFirm }} </div>
				    	</div>
				  	</div>
 					<div class="panel panel-default">
				     	<div class="panel-heading">
				      		<h4 class="panel-title">
				        		<a data-toggle="collapse" data-parent="#ClientAccordian" href="#Tourisms">
				        		Tourism
				        		</a>
				      		</h4>
				    	</div>
				    	<div id="Tourisms" class="panel-collapse collapse" >
				      		<div class="panel-body" ng-repeat="tourism in tourisms"> {{ tourism }} </div>
				    	</div>
				  	</div>
				  	<div class="panel panel-default">
				     	<div class="panel-heading">
				      		<h4 class="panel-title">
				        		<a data-toggle="collapse" data-parent="#ClientAccordian" href="#Others">
				        			Others
				        		</a>
				      		</h4>
				    	</div>
				    	<div id="Others" class="panel-collapse collapse" >
				      		<div class="panel-body" ng-repeat="other in others"> {{ other }} </div>
				    	</div>
				  	</div>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-default company-navbar" ng-show="ToolsContainer">
  			<div class="container-fluid">
			    <ul class="nav navbar-nav">
			      <li><a class="inner-nav" href="" ng-class="{ true: 'active', false: 'notactive'} [PrmarketingContainer]" ng-click="PrmarketingDisplay()">PR & MARKETING</a></li>
			      <li><a class="inner-nav" href="" ng-class="{ true: 'active', false: 'notactive'} [MediaContainer]" ng-click="MediaDisplay()">MEDIA</a></li>
			    </ul>
  			</div>
		</nav>
		<div class="container-fluid ContentOfProject tools-container" ng-show="ToolsContainer">
			<div class="container prmarketing-container" ng-show="PrmarketingContainer">
				<h2 class="text-center">PR & MARKETING TOOLS </h2>
				<ul class="list-group">
					<li class="list-group-item list-group-item-success">
						Conceptualization and implementation of PR recommendations
					</li>
					<li class="list-group-item list-group-item-info">
						Drafting and dissemination of press material (invites & releases)
					</li>
					<li class="list-group-item list-group-item-success">Deciding the plan of action and flow of event</li>
					<li class="list-group-item list-group-item-info">Preparing the list of requirements for the PR initiative</li>
					<li class="list-group-item list-group-item-success">
						Suggesting and coordinating photo opportunities during the event.
					</li>
					<li class="list-group-item list-group-item-info">Media Monitoring</li>
					<li class="list-group-item list-group-item-success">
						Social Media Management (includes Facebook & Twitter)
					</li>
					<li class="list-group-item list-group-item-info">
						Issues & Crisis Management)
					</li>
					<li class="list-group-item list-group-item-success">
						Advertisement release/Hoardings & Editorial Tie-ups/Photography / Videography)
					</li>
				</ul>
			</div>
			<div class="container mediaTools-container" ng-show="MediaContainer">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#prInitiatives">PR Initiatives</a></li>
					<li><a data-toggle="tab" href="#TargetMediaList">Target Media List</a></li>
					<li><a data-toggle="tab" href="#Checklist">Checklist</a></li>
				</ul>
				<div class="tab-content">
					<div id="prInitiatives" class="tab-pane fade in active">
						<br>
						<div class="container">
							<div class="panel-group" id="prInitiativesAccordion">
			  					<div class="panel panel-default">
			    					<div class="panel-heading">
			      						<h4 class="panel-title">
			        						<a data-toggle="collapse" data-parent="#prInitiativesAccordion" href="#PreEventRelease">
			        							Pre-Event Release
			        						</a>
			      						</h4>
			    					</div>
			    					<div id="PreEventRelease" class="panel-collapse collapse in">
									    <div class="panel-body">
									      	<p class="lead">Pre-event Press release for the Inauguration Event can
												be issued in the print media few days prior to the
												event.
											</p>
									    </div>
			    					</div>
			  					</div>
							    <div class="panel panel-default">
							     	<div class="panel-heading">
							      		<h4 class="panel-title">
							        		<a data-toggle="collapse" data-parent="#prInitiativesAccordion" href="#GrandLaunch">
							        			Grand Launch
							        		</a>
							      		</h4>
							    	</div>
							    	<div id="GrandLaunch" class="panel-collapse collapse grandLaunch" >
							      		<div class="panel-body">
							      			<p class="lead">
							      				The grand inauguration of the Showroom, a one of its kind
												store with unique and advanced range of products in Kolkata
							      			</p>
							      			<p>
							      				<ul>
							      					<li>
							      						<span class="glyphicon glyphicon-star-empty"></span>
														The USP’s of the products, price range, utilities, etc.
														will be shared.
							      					</li>
							      					<li>
							      						<span class="glyphicon glyphicon-star-empty"></span>
							      						Spokesperson representing Group should be present
														at the launch.
							      					</li>
							      					<li>
							      						<span class="glyphicon glyphicon-star-empty"></span>
							      						Media approach can also be an effective tool to be in
														media focus in a manner that can fetch an overall
														visibility in Kolkata.
							      					</li>
												</ul>	
							      			</p>
							      			<p class="lead">
							      				Photo Opportunity
							      			</p>
							      			<p>
							      				<ul>
							      					<li>
							      						<span class="glyphicon glyphicon-star-empty"></span>
							      						City Celebrity along with the Spokesperson can be present
														for better photo-opportunity.
							      					</li>
							      				</ul>
							      			</p>
							      		</div>
							    	</div>
							  	</div>
							  	<div class="panel panel-default">
							  		<div class="panel-heading">
			      						<h4 class="panel-title">
			        						<a data-toggle="collapse" data-parent="#prInitiativesAccordion" href="#PressInteraction">
			        							Press Interaction
			        						</a>
			      						</h4>
							  		</div>
			    					<div id="PressInteraction" class="panel-collapse collapse">
									    <div class="panel-body">
									      	<p class="lead">
									      		A Press Interaction will also be organized post the
												inauguration of the Showroom to share achievements,
												products, future plans etc of the brand.
											</p>
											<p>
												<ul>
													<li>
														<span class="glyphicon glyphicon-star-empty"></span>
														The specifications & USP’s of the brand will be shared
														with the emphasis on the concept, etc
													</li>
													<li>
														<span class="glyphicon glyphicon-star-empty"></span>
														Spokesperson representing Group should be present
														at the press interaction.
													</li>
												</ul>
											</p>
									    </div>
			    					</div>
							  	</div>
							  	<div class="panel panel-default">
							  		<div class="panel-heading">
			      						<h4 class="panel-title">
			        						<a data-toggle="collapse" data-parent="#prInitiativesAccordion" href="#PostEventPressRelease">
			        							Post Event Press Release
			        						</a>
			      						</h4>
							  		</div>
			    					<div id="PostEventPressRelease" class="panel-collapse collapse">
									    <div class="panel-body">
									      	<p class="lead">
												Post Event Press Release will also be issued in different
												locations of the State to garner maximum coverage and media
												mileage. This will create impact on the people visiting Kolkata.
											</p>
										</div>
			    					</div>
							  	</div>	
							  	<div class="panel panel-default">
							  		<div class="panel-heading">
			      						<h4 class="panel-title">
			        						<a data-toggle="collapse" data-parent="#prInitiativesAccordion" href="#MediaMonitoring">
			        							Media Monitoring
			        						</a>
			      						</h4>
							  		</div>
			    					<div id="MediaMonitoring" class="panel-collapse collapse">
									    <div class="panel-body">
									      	<p>
												Post Event Media Monitoring will be done to keep the Brand
												updated about the happenings in the lifestyle & corporate
												field.
											</p>
										</div>
			    					</div>
							  	</div>
						  	</div>
					  	</div>
					</div>
					<div id="TargetMediaList" class="tab-pane fade targetMediaList">		
						<ul class="list-group">
							<li class="list-group-item list-group-item-success">Mainline Publications</li>
							<li class="list-group-item list-group-item-info">Vernaculars (Hindi, Bengali & Urdu)</li>
							<li class="list-group-item list-group-item-success">Electronic Channels</li>
							<li class="list-group-item list-group-item-info">Wires</li>
							<li class="list-group-item list-group-item-success">Web</li>
							<li class="list-group-item list-group-item-info">Magazines</li>
						</ul>						
					</div>
					<div id="Checklist" class="tab-pane fade checklistMediaList">				
						<ul class="list-group">
							<li class="list-group-item list-group-item-success">Venue: Store</li>
							<li class="list-group-item list-group-item-info">Chequered backdrop</li>
							<li class="list-group-item list-group-item-success">Standees</li>
							<li class="list-group-item list-group-item-info">Spokesperson to address the media</li>
							<li class="list-group-item list-group-item-success">Seating arrangement for media</li>
							<li class="list-group-item list-group-item-info">Sound System</li>
							<li class="list-group-item list-group-item-success">Letterheads – to take print outs of press release or 	Logo
							</li>
							<li class="list-group-item list-group-item-info">Look book, if any</li>
							<li class="list-group-item list-group-item-success">
								Press Kits (comprising of folder, writing pad & pen)
							</li>
							<li class="list-group-item list-group-item-info">Press Giveaways</li>
							<li class="list-group-item list-group-item-success">Refreshment for the media</li>
							<li class="list-group-item list-group-item-info">Spokesperson</li>
							<li class="list-group-item list-group-item-success">Celebrity</li>
							<li class="list-group-item list-group-item-info">
								Adequate information to draft the Press Release (FAQs 	will be mailed accordingly)
							</li>
						</ul>
					</div>
					<br>
					<br>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-default plans-navbar" ng-show="PlansContainer">
  			<div class="container-fluid">
		    	<ul class="nav navbar-nav">
			    	<li><a class="inner-nav" ng-class="{ true: 'active', false: 'notactive'} [ObjectiveContainer]" ng-click="ObjectiveDisplay()">OBJECTIVES</a></li>
			    	<li><a class="inner-nav" ng-class="{ true: 'active', false: 'notactive'} [PointContainer]" ng-click="PointDisplay()">POINTS</a></li>
			   	</ul>
  			</div>
		</nav>
		<div class="container-fluid ContentOfProject plans-container" ng-show="PlansContainer">
			<h2 class="text-center"> Plans</h2>
			<div class="objective-container" ng-show="ObjectiveContainer">				
				<div class="panel-group">
    				<div class="panel panel-default">
      					<div class="panel-heading">
        					<h4 class="panel-title">          					
          						<a data-toggle="collapse" href="#Objectivecollapse"> <strong>Click to</strong> view all the Communication Objectives</a>
        					</h4>
      					</div>
      					<div id="Objectivecollapse" class="panel-collapse collapse">	      							
							<ul class="list-group">
								<li class="list-group-item">To announce the inauguration of Exclusive Showroom in Kolkata</li>
								<li class="list-group-item">To keep the brand in constant media focus</li>
								<li class="list-group-item">To endorse a complete satisfaction of the brand in the media fraternity and the targeted clientele by the PR initiatives and ideations</li>
								<li class="list-group-item">To build and foster media relationships for the brand</li>
								<li class="list-group-item">To establish the brand as the premium home office decor furnishing service provider in Kolkata</li>
								<li class="list-group-item">To highlight the modern version of its products & its utilities
								</li>
								<li class="list-group-item">To highlight the uniqueness of the showroom with emphasis on the concept, utilities, trends etc.</li>
								<li class="list-group-item">To inform media about the latest achievements through special interaction</li>			
								<li class="list-group-item">To arrange for telephonic interactions, if needed</li>		
								<li class="list-group-item">To keep the brand updated with media monitoring</li>			
							</ul>	        						
     				 	</div>
     				</div> 	
    			</div>
			</div>
			<div class="point-container" ng-show="PointContainer">				
				<div class="panel-group">
    				<div class="panel panel-default">
      					<div class="panel-heading">
        					<h4 class="panel-title">          					
          						<a data-toggle="collapse" href="#Pointcollapse"> <strong>Click to</strong> view all the Communication Points</a>
        					</h4>
      					</div>
      					<div id="Pointcollapse" class="panel-collapse collapse">	      							
							<ul class="list-group">
								<li class="list-group-item">First of its kind Showroom</li>
								<li class="list-group-item">Products-One stop solution</li>
								<li class="list-group-item">Exclusiveness-Uniqueness-Services</li>
								<li class="list-group-item">Need of the time/ families/ office for such products</li>
								<li class="list-group-item">Presence in West Bengal and also in other parts of India</li>
								<li class="list-group-item">Future Plans</li>
								<li class="list-group-item">Role of 5Ws</li>
								<li class="list-group-item">Boost up to the Lifestyle & Corporate industry growth</li>			
							</ul>	        						
     				 	</div>
    				</div>
	  			</div>
			</div>
		</div>
		<div class="container-fluid ContentOfProject overview-container" ng-show="OverviewContainer">	
			<div class="container costproposal-container">
				<h2 class="text-center cost-heading">COST PROPOSAL</h2>
				<div class="panel-group">
    				<div class="panel panel-default">
      					<div class="panel-heading">
        					<h4 class="panel-title">          					
          						<a data-toggle="collapse" href="#Cost-proposalcollapse"><strong>Click to</strong> view all the PR activities</a>
        					</h4>
      					</div>
      					<div class="panel-body">
							 	<p>
							 		<strong>Rs. 20,000/-inclusive of service tax will be charged for the PR activities.</strong>
								</p>
						</div>
  						<div id="Cost-proposalcollapse" class="panel-collapse collapse">	      							
							<ul class="list-group">
								<li class="list-group-item">PR Consultancy</li>
								<li class="list-group-item">Project Planning</li>
								<li class="list-group-item">Documentation and Write ups etc.</li>
								<li class="list-group-item">Post Event Press Release Dissemination</li>
								<li class="list-group-item">Media Interactions</li>
								<li class="list-group-item">Media Monitoring</li>
								<li class="list-group-item">Print Coverage Dossier</li>
								<li class="list-group-item">Translation</li>			
							</ul>
    						<div class="panel-footer">
    							<p>
    								<strong>50% of the Project Fee should be paid in advance before the project starts.</strong>
    							</p>
							</div>
 				 		</div>
					</div>
				</div>
				<div class="panel-group">
    				<div class="panel panel-default">
  						<div class="panel-heading">
        					<h4 class="panel-title">          					
          						<a data-toggle="collapse" href="#Cost-proposalInputsCollapse">
          							<strong>Click to</strong> know the inputs in the Dossier
								</a>
        					</h4>
  						</div>
  						<div class="panel-body">
						  	<p>
						  		<strong>We endeavour to provide most useful and accurate Print Media Dossier.</strong>
							</p>
						</div>
  						<div id="Cost-proposalInputsCollapse" class="panel-collapse collapse">	      							
							<ul class="list-group">
								<li class="list-group-item">Name of Publication</li>
								<li class="list-group-item">Date</li>
								<li class="list-group-item">Page</li>
								<li class="list-group-item">Edition</li>
								<li class="list-group-item">Supplement</li>
							</ul>
    						<div class="panel-footer">
    							<strong>A project dossier of all clips tracked during the project will be submitted</strong>
							</div>
 				 		</div>
  					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid ContentOfProject contact-container" ng-show="ContactContainer">
			<h2 class="text-center">Contact Details</h2>
			<div class="container address-container">
				<div class="panel-group">
    				<div class="panel panel-default">
      					<div class="panel-heading">
        					<h4 class="panel-title">          					
          						<a data-toggle="collapse" href="#Addresscollapse"><strong>Click to</strong> Contact Us</a>
        					</h4>
      					</div>
      					<div class="panel-body">
							<p>
								<strong>Please contact us for any assistance.</strong>
							</p>
						</div>
      					<div id="Addresscollapse" class="panel-collapse collapse">	      							
							<p class="text-center">
								Virtual Communication
								Regd: 52,
								M.P. Road,
								P.O. Garulia,
								Dist 24 PGS (N),
								Media Monitoring,
								WB-743133.
								Phone: 9831980806
							</p>
        					<div class="panel-footer">	        							
        						<strong>
        							<p>Manit Singh</p>
        							<p>Phone: 9831980806</p> 
									<p>E-mail: manits08@gmail.com</p>
									<p>virtualkolkata@gmail.com</p>
								</strong>	
							</div>
     			 		</div>
    				</div>
  				</div>
				<div class="panel-group">
    				<div class="panel panel-default">
      					<div class="panel-heading">
        					<h4 class="panel-title">          					
          						<a data-toggle="collapse" href="#LocationFindercollapse"><strong>Click to </strong>view Locations</a>
        					</h4>
      					</div>
      					<div class="panel-body">
							<p>
								<strong>Apart from KOLKATA, our Set-Up is in the following North-Eastern India Locations</strong>
							</p>
						</div>
      					<div id="LocationFindercollapse" class="panel-collapse collapse">	      							
							<ul class="list-group">
								<li class="list-group-item">Kolkata</li>
								<li class="list-group-item">Siliguri</li>
								<li class="list-group-item">Tripura</li>
								<li class="list-group-item">Patna</li>
								<li class="list-group-item">Guwahati</li>
								<li class="list-group-item">Gangtok</li>
								<li class="list-group-item">Ranchi / Jamshedpur</li>
								<li class="list-group-item">Meghalaya</li>
								<li class="list-group-item">Bhubaneshwar</li>
							</ul>
        					<div class="panel-footer">	        							
        						<strong>
        						    <p>Manit Singh</p>
        							<p>Phone: 9831980806</p> 
									<p>E-mail: manits08@gmail.com</p>
									<p>virtualkolkata@gmail.com</p>
								</strong>	
							</div>
     			 		</div>
    				</div>
  				</div>
			</div>
		</div>	
	</body>
</html>